@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
      font-family: 'Roboto';
      src: url(./fonts/RobotoCondensed-Medium.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Robotoslab';
        src: url(./fonts/RobotoSlab-Medium.ttf) format('truetype');
      }
    @font-face {
        font-family: 'ubuntu';
        src: url(./fonts/Ubuntu-Regular.ttf) format('truetype');
      }
      @font-face {
        font-family: 'poppins';
        src: url(./fonts/Poppins-Regular.ttf) format('truetype');
      }
      
      @font-face {
        font-family: 'Montserrat';
        src: url(./fonts/Montserrat-Regular.ttf) format('truetype');
      }
  }
  /* Customize the scrollbar width and color */
  @layer components {
    .scrollbar {
      scrollbar-width: thin;
      scrollbar-color: #0f172a #e2e8f0; /* Dark thumb color, light track color */
    }
  
    /* For Webkit browsers like Chrome, Safari */
    .scrollbar::-webkit-scrollbar {
      width: 8px; /* Width of the scrollbar */
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background-color: #1e293b; /* Dark thumb color */
      border-radius: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      background-color: #e2e8f0; /* Light track color */
      border-radius: 10px;
    }
  }
  
